/* 1024px responsive */

@media screen and ( max-width: 1024px ) {
    .container{
        width: 90%;
    }

    .user-wrapper{
        padding: 20px 0px;
    }
}



/* 992px responsive */

@media screen and ( max-width: 992px ) {
    .banner-wrapper {
       height: auto;
    }

    .user-wrapper{
        flex-direction: column;
    }

    .user-img , .user-content{
        width: 100%;
        text-align: center;
    }

    .user-content .user-description{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .collection-item-wrapper{
        grid-template-columns: repeat(2 , 1fr);
        width: 70%;
        margin: 0 auto;
    }

    .collection-title {
        width: 100%;
    }

}




/* 768px responsive */

@media screen and ( max-width: 768px ) {
    .nav{
        flex-direction: column;
        margin-top: 20px;
    }

    #header{
        padding-bottom: 30px;
    }

    .banner-wrapper{
        flex-direction: column-reverse;
    }

    .banner-content, .banner-img {
        max-width: 90%;
    }

    .banner-content{
        padding: 30px 0px;
    }
    .collection-item-wrapper{
        width: 80%;
    }

}







/* 576px responsive */

@media screen and ( max-width: 576px ) {
    .menu-container{
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        gap:20px;
    }

    .collection-item-wrapper{
        grid-template-columns: 1fr;
    }

    .collection-title p {
        font-size: 13px;
    }

    .collection-title h1 {
        font-size: 26px;
    }
}