/* font link */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:wght@300;400;500;600;700&family=Tiro+Bangla:ital@0;1&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');



/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}




/* nav style */

#header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container img {
    width: 60px;
    margin-right: 10px;
}

.logo-container h1 {
    font-size: 30px;
    font-weight: 700;
}

.logo-container h1 span {
    color: #FF42A5;
}

.menu-container {
    display: flex;
    gap: 50px;
}

.menu-container li {
    list-style: none;
}

.menu-container li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 16px;
    font-weight: 600;
}

.menu-container .menu-follow-btn a {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

.menu-container .menu-follow-btn i {
    margin-left: 8px;
    font-size: 20px;
    cursor: default;
}

.menu-container .menu-follow-btn i:first-child {
    color: #F61C0D;
}

.menu-container .menu-follow-btn i:last-child {
    color: #000000;
}



/* banner style */

#banner{
    background-image: url('../images/Group\ 14.png');
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 517px;
}

.banner-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}


.banner-content,
.banner-img {
    max-width: 50%;
}

.banner-content p {
    color: #0B0223;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
}

.banner-content h1 {
    background: linear-gradient(to bottom, #F948B2, #8758F1);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-content .banner-list-container li {
    list-style: none;
    color: #534C64;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3rem;
}

.banner-content .banner-list-container li i {
    color: #202022;
    margin-right: 5px;
}

.banner-btn-container {
    margin-top: 15px;
}

.btn-primary {
    border-radius: 48px;
    background: #FF42A5;
    color: #fff;
    padding: 12px 30px;
    border: none;
    font-weight: 500;
}

.btn-banner-go {
    background-color: #4EC5F7;
}

.banner-img img {
    width: 100%;
}

/* user style */

#user {
    background: linear-gradient(to top, rgba(255, 66, 165, 0.03), rgba(255, 66, 165, 0.03));
}

.user-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
}

.user-img {
    width: 50%;
}

.user-img img {
    width: 100%;
}

.user-content {
    width: 50%;
    text-align: right;
    width: 35%;
}

.user-content h1 {
    background: linear-gradient(to bottom, #F948B2, #8758F1);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 35px;
    margin-bottom: 12px;
}

.user-content .user-description {
    color: #534C64;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2rem;
    margin-bottom: 12px;
    width: 100%;
}


.user-content .user-last-title {
    font-size: 20px;
    margin-top: 15px;
}


/* collectin style */

#collection {
    padding: 50px 0px;
}

.collection-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.collection-title h1 {
    color: #0B0223;
    font-size: 32px;
    font-weight: 700;
}

.collection-title h1 span {
    background: linear-gradient(to bottom , #F948B2 , #8758F1);
    -webkit-background-clip: text;
    color: transparent;
}

.collection-title p{
    color: #534C64;
    font-size: 14px;
    margin-top: 5px;
}

.collection-item-wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4 , 1fr);
    gap: 25px;
}

.collection-item .collection-item-img{
    height: auto;
    width: 100%;
    position: relative;
}

.collection-item .collection-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection-item .collection-item-img:hover .collection-img-effect{
    visibility: visible;
    opacity: 1;
}

.collection-img-effect{
    position: absolute;
    top:0;
    right: 0;
    text-align: center;
    background: #000000ac;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding-top: 48%;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #FF42A5;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
}

.collection-img-effect i{
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}

.collection-img-effect p{
    color: #FF42A5;
    font-weight: 500;
}


.c-item-desc{
    color: #534C64;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}



/* play style */

.play-instant{
    margin-bottom: 100px;
}

.instant-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instant-content{
    width: 50%;
}

.instant-content-wrapper{
    width: 50%;
    margin: 0 auto;
    text-align: right;
}

.instant-content-wrapper h1{
    color: #0B0223;
    font-size: 35px;
}

.instant-content-wrapper h1 span{
    color: #F948B2;
}

.instant-content-wrapper p{
    color: #534C64;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2rem;
    margin-top: 10px;
}





.instant-img{
    width: 42%;
}

.instant-img .instant-img-wrapper{
    width: 100%;
    display: block;
    position: relative;
}

.instant-img .instant-img-wrapper img{
    width: 100%;
}

.instant-img .instant-img-wrapper .intant-sub-img{
    position: absolute;
    max-height: 250px;
    max-width: 220px;
    bottom:-50px;
    left: -100px;
}







.play-online{
    margin-top: 100px;
}

.online-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.online-content{
    width: 50%;
}

.online-content-wrapper{
    width: 58%;
    margin: 0 auto;
}

.online-content-wrapper h1{
    color: #0B0223;
    font-size: 35px;
}

.online-content-wrapper h1 span{
    color: #F948B2;
}

.online-content-wrapper p{
    color: #534C64;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2rem;
    margin-top: 10px;
}



.online-img{
    width: 42%;
}

.online-img .online-img-wrapper{
    width: 100%;
    display: block;
    position: relative;
}

.online-img .online-img-wrapper img{
    width: 100%;
}

.online-img .online-img-wrapper .online-sub-img{
    position: absolute;
    max-height: 250px;
    max-width: 220px;
    bottom:-50px;
    right: -100px;
}